html{
    background-color: black;
}

body{
    width: 200px;
    margin: auto;
    background-color: darkblue;
    color: white;
    text-align:center;
}

img {
    max-width: 200px;
    max-height: 200px;
}